.AddSection {
  margin: 2rem auto;
  padding: 0;
  border-radius: var(--br);
  background: var(--bg-shade);
  list-style: none;
  display: flex;
  width: min-content;
}

.AddSection div {
  flex: 0 0 auto
}

.AddSection a {
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  display: block;
}

.AddSection .fa {
  margin-right: 0.5rem
}

.AddSection div + div {
  border-left: 1px solid var(--bg);
}
