.EditorWithNavigation {
  display: flex;
}
.EditorWithNavigation:hover .EditorNavigation li {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s linear;
}
.EditorNavigation {
  display: block;
  width: 25px;
  margin: 0;
  padding: 0;
  list-style-type: none
}

.EditorNavigation li {
  visibility: hidden;
  opacity: 0;
}

.EditorNavigation li:first-child {
  padding-bottom: 10px;
}

.EditorNavigation a {
  display: inline;
  cursor: pointer;
  text-decoration: none;
}

.EditorNavigation a:hover {
  color: red;
}
