.EditorWithNavigation {
  position: relative;
}

.EditorWithNavigation:hover {
  background: var(--bg-shade);
}

.EditorWithNavigation:hover .EditorNavigation {
  display: flex;
}

.EditorNavigation {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: var(--br);
  background: var(--white);
  list-style: none;
  display: none;
  width: min-content;
  box-shadow: var(--shadow);
}

.EditorNavigation a {
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  display: block;
  color: var(--dark);
  text-decoration: none;
}

.EditorNavigation a.remove {
  color: var(--red);
}

.EditorNavigation .fa {
  margin-right: 0.5rem
}

.EditorNavigation li + li {
  border-left: 1px solid var(--light);
}
