.UserPage {
  /*display: flex;*/
}

.UserPageHeader {
  flex: 1;
  background: var(--dark);
  padding: 3rem;
  color: var(--white)
}

.UserPageHeader h1 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.UserPageHeader p {
  font-size: 1rem
}

.UserPageTrips {
  flex: 3;
}
