.Button {
  background: var(--green);
  padding: 0.5rem 1rem;
  border-radius: var(--br);
  cursor: pointer;
  line-height: 1
}

.Button.primary {
  background: var(--green);
}

.Button.secondary {
  background: none;
  border: var(--border)

}
.Button.destructive {
  background: var(--red);
}

.Button.small {
  padding: 0.25rem 0.75rem;
}
