.edit.HeroHeader input {
  color: var(--white);
  text-align: center;
  background: transparent;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  outline: none;
  border: none
}

.edit.HeroHeader .fa {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

.edit.HeroHeader .drophint {
  order: 1;
  background: var(--dark);
  border-radius: var(--br);
  padding: 1rem 1.5rem;
  opacity: 0.8;
  margin-bottom: auto;
  color: var(--white)
}

.edit.HeroHeader.trip .drophint {
  order: 3;
  margin-bottom: 0;
  margin-top: auto;
}
