.HeaderCard {
  position: relative;
  overflow: hidden;
  margin-bottom: 4rem;
  border-radius: var(--br);
  top: 0;
}

.HeaderCard:hover figure {
  transform: scale(1)
}

.HeaderCard figure {
  transition: all 0.2s;
  max-height: 30vh;
  transform: scale(1.05);
}

.HeaderCard hgroup {
  background: linear-gradient(rgba(0,0,0,0.7), transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  color: var(--white);
}

.HeaderCard h1 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.HeaderCard h2 {
  font-size: 0.75rem;
  text-transform: uppercase;
  display: block;
  margin-bottom: 1rem;
  opacity: 0.6;
  letter-spacing: 0.1em;
  line-height: 1.2
}

.HeaderCard p {
  font-size: 1rem;
  margin-bottom: 1rem;
  max-width: 40rem
}
