.HeaderCard {
  flex: 1;
  height: 100%;
  box-shadow: 0px 0px 4px #c0c0c0;
  border-radius: 3px;
  position: relative;
  margin-bottom: 40px;
}

.HeaderCard figure {
  height: 40vh;
  width: 100%;
}

.HeaderCard img {
  height: 100%;
  width: 100%;
  border-radius: 3px 3px 0px 0px;
}

.HeaderCard hgroup {
  background: linear-gradient(rgba(0,0,0,0.7), transparent);
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: white;
  color: white;
  text-shadow: 0 1px 0px rgba(0,0,0,0.4);
}
