.HeaderCard {
  margin-bottom: 4rem;
  border-radius: var(--br);
  background: var(--bg);
  box-shadow: var(--shadow);
  position: relative;
}

.HeaderCard a {
  display: flex;
  text-decoration: none
}

.HeaderCard figure {
  height: 20rem;
  width: 50%;
  border-radius: var(--br) 0 0 var(--br);
  overflow: hidden;
}

.HeaderCard hgroup {
  padding: 2rem;
  width: 50%;
}

.HeaderCard h2 {
  opacity: 0.6
}

/* Small headercard */

.HeaderCard.small {
  max-width: 20rem;
  text-align: center;
}

.HeaderCard.small a {
  display: block;
}

.HeaderCard.small figure {
  height: 10rem;
  width: auto;
  border-radius: var(--br) var(--br) 0 0;
}

.HeaderCard.small hgroup {
  width: auto;
}
