.HeroHeader {
  height: 70vh;
  position: relative;
  margin-bottom: 4rem
}

.HeroHeader figure {
  width: 100%;
  height: 100%;
}

.HeroHeader img {
  height: 100%;
  width: 100%;
}

.HeroHeader hgroup {
  background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--white  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 4rem 4rem 8rem 4rem;
}

.HeroHeader .title {
  font-size: 5rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  order: 2;
}

.HeroHeader .subtitle {
  font-size: 1.25rem;
  order: 2;
  max-width: 40rem;
}

.HeroHeader.trip{
  margin-bottom: -8rem;
  height: 60vh
}

.HeroHeader.trip hgroup {
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2), var(--bg));
  justify-content: flex-start;
}
