.EditHero {
  text-align: left;
  margin: 10px auto;
  position: relative;
}

.EditHero .dropzone {
  width: 80wv;
  background-color: #bdbdbd;
}

.EditHero img {
  width: 100%;
  height: auto;
  display: block;
}

.Hero img {
  width: 100%;
  height: auto;
  display: block;
}

.EditHero .progress {
  position: absolute;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: red;
  z-index: 100;
}
