.Hero {
  padding: 2rem 0;
}

.Hero .dropzone {
  min-height: 40rem
}

.Hero img {
  width: 100%;
  height: auto;
  display: block;
}

.edit.Hero .progress {
  position: absolute;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: var(--green);
  z-index: 100;
}
