:root {
  --darkest:      #171C24;
  --dark:         #222936;
  --white:        #fff;
  --light:        #EEEEEE;
  --medium:       #ccc;

  --uh:           5px;
  --u:            10px;
  --u15:           20px;
  --u2:           20px;
  --u3:           30px;
  --u4:           40px;

  --green:        #4CAF50;
  --red:          #E60027;

  --bg:           var(--darkest);
  --bg-shade:     var(--dark);
  --bg-invert:    var(--white);

  --color:        var(--white);
  --color-shade:  var(--light);
  --color-invert: var(--dark);

  --border-color: var(--dark);
  --border:       1px solid var(--border-color);
  --br:           5px;

  --shadow:       0 2px 5px rgba(0,0,0,0.1), 0 4px 10px rgba(0,0,0,0.1);

}

body {
  background: var(--bg);
  color: var(--color);
}

a {
  color: var(--color-shade);
}

.Content {
  padding: 0rem 4rem;
}

.Columns {
  display: flex;
}

.Column {
  flex: 1;
}

.Centered {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Container {
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
}

.Container.full {
  width: 100%;
  max-width: 100%;
}

.Container.padded {
  padding: 2rem;
}

.Container.narrow {
  max-width: 30rem
}

.Container.header {
  margin-top: 0;
}

.align-left {
  text-align: left
}

.App {
}

.App figure {
  padding: 0;
  margin: 0;
}
