.Text {
  padding: 2rem;
}

.TextTitle {
  font-size: 2rem;
  margin-bottom: 0.5rem
}

.TextContent, .Text .DraftEditor-editorContainer {
  font-size: 1rem;
}

.TextContent p, .Text .public-DraftStyleDefault-block {
  margin-bottom: 1rem;
}
